body {
  margin: 0;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;

  max-width: 1440px;
}
.main {
  margin-top: 50px;
}

/* for practice */

.navLink {
  font-size: inherit;
  color: currentColor;
}

.navLinkActive {
  color: rgb(0, 150, 0);
}
